table {
	border-collapse:collapse;
	font-family: monospace;
	margin-left: auto;
	margin-right: auto;
}
table, td {
    border: 1px solid black;
}
td img {
    vertical-align: middle;
}
#size_input {
	width: 3em;
}
#win_row_input {
    width: 3em;
}
h1, h2, h3, h4, h5, h6, #state {
	text-align: center;
}
#main {
}
#setup {
    text-align: center;
}